doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Google login"
        style
            include ./bootstrap.min.css
            include ./style.css
    body
        div.container
            div.row
                div.col-xs-12.col-md-12.mt-3
            button.btn.btn-default
                a(href = "http://localhost:3000/auth/google") Sign in with your Google Account